.main {
    display: grid;
    grid-template-columns: 475px 190px 285px 1fr;
    margin-bottom: 50px;
}

.productImg {
    height: 180px;
    width: 125px;
}

.firstCol {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.deleteProductButton {
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-right: 40px;
}

.firstCol img {
    margin-right: 40px;
}

.secondtCol {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.thirdCol {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.fourthCol {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}