.main h2 {
    margin-bottom: 92px;
    margin-top: 130px;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
}

.main {
    width: 1110px;
    margin-inline: auto;
    margin-top: 269px;
    z-index: 1;
}

.carouselContainer {
    position: relative;
}
.carousel {
    height: 50px;
}

.imgContainer {
    width: 705px;
    height: 826px;
    position: absolute;
    top: -284px;
    left: 687px;
    background: #F1EADC;
}

.allef_vinicius{
    position: absolute;
    bottom: 0;
    left: -85px;

}

.dmitriy{
    position: absolute;
    top: 120px;
    left: 50px;
}

.ionut_comanici{
    position: absolute;
    top: 230px;
    right: 140px;
}

.newCollectionBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}




.productCardImgContainer {
    margin-bottom: 24px;
    position: relative;
}
.productCardImgContainer img:hover {
    position: relative;
    z-index: 0;
}
.productCardImgContainerHover {
    position: absolute;
    padding: 228px 160px;
    top: 0px;
    width: 350px;
    height: 478px;
    background: rgba(110, 156, 159, 0.64);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}



.productName {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
    text-align: center;
}

.productPrice {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #998E78;
    text-align: center;
}

.newCollectionBlockButton {
    width: 243px;
    height: 68px;
    display: block;
    margin-inline: auto;
    text-align: center;
    border: 1px solid #6E9C9F;  
    transition: all 0.5s ease;
}
.newCollectionBlockButton div {
    color: #6E9C9F;
    font-weight: 400;
    font-size: 17px;
    line-height: 390%;
    letter-spacing: 0.02em;
    transition: all 0.5s ease;
}

.newCollectionBlockButton:hover {
    background-color:#6E9C9F;  
    transition: all 0.5s ease;
}

.newCollectionBlockButton div:hover {
    color: #fff;
    transition: all 0.5s ease;
}

.importantForUsInfo {
    display: flex;
    margin-bottom: 130px;
}

.importantForUsInfoItem {
    width: 305px;
    margin-right: 75px;
}

.importantForUsInfoItem h3 {
    margin: 37px 0 24px 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.importantForUsInfoItem p {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.dreamTeamBlock {
    display: flex;
    justify-content: space-between;
}

.carouselContainer{
   width: 729px;
   height: 487px; 
}

.dreamTeamArticle {
    width: 255px;
    margin: auto 0;
}

.dreamTeamArticle h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
}

.dreamTeamArticle p {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
}

.dreamTeamBlockLink a {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #6E9C9F;
    transition: all 0.5s ease;
}
.dreamTeamBlockLink a:hover {
    width: 180px; 
    border-bottom: 1px solid #CEDEDF;
    transition: all 0.5s ease;
}