.header {
    margin-left: 3px;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
}

.path {
    margin: 26px 0 250px 3px;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.section h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 46px;
}

.section article {
    width: 542px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section p {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}

.firstArticle {
    margin-right: 32px;
}

.button {
    width: 260px;
    height: 68px;
    display: block;
    margin-inline: auto;
    background: #6E9C9F;
    text-align: center;
    transition: all 0.5s ease;
}

.button a {
    color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 17px;
    line-height: 400%;
}

.button:hover {
    background: #509498;
    transition: all 0.5s ease;
}