.main {
    width: 1600px;
    height: 363px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 245px;
    background: #F1EADC;
}

.leftSide {
    display: flex;
}

.brandName {
    margin-bottom: 73px;
}

.brandName span {
    margin-left: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.generalInfo p {
    font-size: 13px;
    line-height: 200%;
    letter-spacing: 0.02em;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin-left: 80px;
}
.item {
    width: 75px;
}
.item a{
    transition: all 0.5s ease;
}
.item a.active {
    font-weight: 700;
    color: #6E9C9F;
    transition: all 0.5s ease;
}
.shop {
    display: flex;
    flex-direction: column;
}
.shop p {
    margin-bottom: 39px;
}
.shop span {
    font-size: 13px;
    line-height: 200%;
    letter-spacing: 0.02em;
}
.telephone {
    text-align: right;
    margin-bottom: 9px;
}
.email {
    text-align: right;
    margin-bottom: 30px;
}
.socials {
    text-align: right;
    margin-bottom: 30px;
}
.socials img {
    margin-left: 12px;
}
.instagram {
    width: 22px;
    height: 22px;
}
.visa {
    text-align: right;
}