.header {
    margin-left: 3px;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
}

.path {
    margin: 26px 0 250px 3px;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.map {
    width: 1109px;
    height: 476px;
    margin-bottom: 130px;
    background: #DDDDDD;
    text-align: center;
    line-height: 30;
}

.contactInfo {
    display: flex;
    margin-bottom: 130px;
}

.contactInfo div {
    margin-right: 105px;
}

.contactInfo h3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.contactInfo p {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.formHeader {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 62px;
}

.sendMessageForm {
    display: flex;
    flex-direction: column;
}

.formInput {
    width: 350px;
    height: 40px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
    border-bottom: 1px solid #000000;
    background: #E5E5E5;
}

.messageTextInput {
    width: 350px;
    height: 134px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 35px;
    border-bottom: 1px solid #000000;
    background: #E5E5E5;
}

.formButton {
    padding: 22px 50px;
    width: 189px;
    height: 68px;
    background: #6E9C9F;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}